@import "libs/reset.scss";
$primary: #9356DC;
$secondary: #FF79DA;
$third: #99E2D0;
body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.logo {
    font-family: Shrikhand, roboto, sans-serif;
    font-size: 2em;
    margin: auto;
    text-align: center;
}
title, h1, h5 {
    font-family: Shrikhand, roboto, sans-serif;
}
.new {
    float: right;
    margin: 1em 1em -3em 0;
    opacity: .99;
    color: #008766;
    border: .1em $third solid;
    padding: .2em .5em;
    background-color: $third;
    border-radius: .2em;
}
a {
    text-decoration: none;
    color: black;
}
.menu__link {
    color: #646464;
    font-size: 1.2em;
    margin: 0 1em;
}
h2 {
    font-size: 1.5em;
    font-weight: 500;
}
.fa-arrow-left {
    font-size: large;
    color: black;
    position: relative;
    top: 2em;
    left: 1em;
}
.main-photo {
    width: 100%;
    height: 20em;
}
nav {
    margin-bottom: 2em;
}
.fa-map-marker-alt {
    color: #353535;
}
nav form {
    padding: 1.1em;
    box-shadow: inset 0 10px 10px -12px #666;
    text-align: center;
    background-color: #EAEAEA;
}
input {
    margin-left: 1em;
    background-color: #EAEAEA;
    border: none;
    &::placeholder{
        color: #353535;
        font-size: 1.2em;
    }
}
.blurb {
    background-color: #f2f2f2;
    text-align: center;
    padding:2em 2em;
    padding-bottom: 4em;
    & h2 {
        margin:0 1.5em;
    }
    & p {
        margin-top: 1em;
        margin-bottom: 2.7em;
        font-weight: 300;
        color: #646464;
    }
    a {
        border:none solid;
        border-radius: 2em;
        background-color: $primary;
        box-shadow: inset .5em .8em 2.5em $secondary, .1em .1em .3em #9b9b9b;
        color: white;
        font-size: 0.9em;
        padding: 1em 1.3em;
        transition: background-color 500ms;
        &:hover {
            background-color: lighten($primary, 5);
            box-shadow: inset .5em .8em 2.5em lighten($secondary, 5), .1em .1em .9em black;;
        }
    }
    
}
nav h2 {
    margin: 2em 0 1em 0.6em;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: auto;
    & a{
        text-decoration: none;
        color: black;
        border-radius: 1em;
        padding: 1.5em 1em;
        margin: 0.8em 1.5em;
        box-shadow: 0.3em 0.3em 1em lightgrey;
        counter-increment: list;
        background-color: #f2f2f2;
        font-weight: 500;
        &::before {
            content: counter(list);
            border-radius: 50%; 
            padding: 0.2rem 0.4rem;
            font-size: small;
            margin-left: -2.3em;
            background-color: $primary;
            color: white;
        }
    }
    & a:hover {
        border: #F5EDFF;
        background-color: #F5EDFF;
        .menu__link {
            color: $primary;
        }
    }
}
section {
    background-color: #f2f2f2;
    padding: 3em 1em;
    & h2 {
        margin-bottom: 1em;
    }
    & article {
        margin-top: 1em;
        padding-bottom: .5em;
        width: 100%;
        border: transparent;
        border-radius: 1em;
        background-color: white;
        box-shadow: 0.3em 0.3em 1em lightgrey;
        & img {
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
        }
        & .card {
            margin: .5em 1.5em .5em 1em;
            display: flex;
            justify-content: space-between;
        }
        & .card__heart h3 {
            font-weight: 600;
            font-size: 1.2em;
        }
        & .card__heart p {
            font-weight: 300;
        }
        & .card .card__heart--regular {
            display: block;
            margin-top: 0.04em;
            font-size: 1.55em;
            z-index: 1;
            transition: opacity 750ms ease-out;
            &:hover {
                opacity: 0;
            }
            &:hover + .card__heart--solid {
                opacity: 1;
                transform: scale(1);
            }
        }
        & .card .card__heart--solid {
            opacity: 0;
            position: absolute;
            font-size: 1.55em;
            right: 1.62em;
            background: -webkit-linear-gradient($primary, $secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(0.1);
            transition: transform 500ms ease-in-out;
        }
    }
}
main {
    position: relative;
    margin-top: -4em;
    background-color: #f2f2f2;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    padding: 1.3em .5em;
    & h1 {
        display: flex;
        justify-content: space-between;
        margin: 0 1em 1em .4em;
        font-size: 1.5em;
    }
    /* animation coeur a realiser */
    & .card__heart--regular {
        display: block;
        font-size: .98em;
        font-weight: 100;
        margin-top: .49em;
        z-index: 1;
        transition: opacity 750ms ease-out;
        &:hover, &:focus {
            opacity: 0;
        }
        &:hover + .card__heart--solid, &:focus + .card__heart--solid {
            opacity: 1;
            transform: scale(1);
        }
    }
    & .card__heart--solid{
        position: absolute;
        right: 1.2em;
        top: 1em;
        opacity: 0;
        font-size: 1.1em;
        color: transparent;
        background: -webkit-linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        transform: scale(.1);
        transition: transform 500ms ease-in-out;
    }
    & .parts {
        overflow: visible;
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        border-bottom: 0.2em #99e2d0 solid;
        width: 1.7em;
        padding-bottom: 0.4em;
        padding-left: 0;
    }
    & ul {
        overflow: hidden;
        margin: 1.5em 0 2em 0;
        white-space: nowrap;
    }
    & li {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        color: #646464;
        font-size: .9em;
        line-height: 1.6em;
        border-radius: 1em;
        box-shadow: .1em .1em .3em lightgray;
        background-color: white;
        margin: .8em .4em;
        padding: .6em .8em;
        animation-name: glissement;
        animation-duration: 2250ms;
        animation-timing-function: ease-out;
        & .plat {
            width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition-property: margin-right;
            transition-duration: 900ms;
        }
        & .bold {
            font-weight: 900;
            color: black;
            font-size: 1.2em;
        }
        & .bold__price {
            color: black;
            font-weight: 900;
        }
        &:nth-child(1) {
            animation-delay: -1.2s;
        }
        &:nth-child(2) {
            animation-delay: -0.9s;
        }
        &:nth-child(3) {
            animation-delay: -0.6s;
        }
        &:nth-child(4) {
            animation-delay: -0.3s;
        }
        &:nth-child(5) {
            animation-delay: 0s;
        }
    }
    & li:hover {
        & .box {
            transform: translate(-69px, 0);
            & .rond{
                transform: rotate(0deg);
            }
        }
        & .price {
            transform: translate(-69px, 0);
        }
        & .plat {
            margin-right: 7em;
            transition-duration: 500ms;
        }
    }
    & .price {
        margin-top: 1.7em;
        transition: transform 500ms ease-in-out;
    }
    & .box {
        float: right;
        padding: 1.1em;
        border-top-right-radius: .7em;
        border-bottom-right-radius: .7em;
        margin: -2.6em -3.9em -.5em .5em;
        background-color: $third;
        font-size: 1.5em;
        transition: transform 500ms ease-in-out;
        & .rond {
            transition: transform 600ms ease-in-out;
            transform: rotate(-360deg);
            color: white;
        }
    }
    & button {
        display: block;
        position: relative;
        z-index: 1;
        color: white;
        margin: 2em auto;
        font-size: 0.9em;
        padding: 1em 3em;
        border:none;
        border-radius: 2em;
        background: linear-gradient($secondary, $primary);
        box-shadow:  .1em .1em .3em #9b9b9b;
        transition: background-color 250ms;
    }
    & button:hover {
        background: linear-gradient(lighten($secondary, 5), lighten($primary, 5));
        box-shadow: .1em .1em .9em black;
    }
}
.circle {
    float: inherit;
    padding: 1.1em;
    border-top-right-radius: .7em;
    border-bottom-right-radius: .7em;
    margin: -1.6em -1em 0 .5em;
    background-color: $third;
    color: white;
    font-size: 1.5em;
}
footer {
    background-color: #353535;
    color: white;
    padding: 1em 1.6em;
    & h5 {
        margin: .8em 0;
        font-size: 1.1em;
    }
    & li {
        margin: .6em 0;
        & a{
            color: white;
        }
    }
    & .foot {
        font-size: .9em;
        margin-right: .5em;
    }
    & .hand {
        font-size: .7em;
        margin-right: .4em;
    }
}
/* loading-page */
.page {
    animation: erase 3s ease-out;
}
.loader {
    z-index: -1;
    opacity: 0;
    display: flex;
    animation: loading 3s ease-out;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 40px;
    background-color: #353535;
    justify-content: center;
    align-items: center;
    & .letter {
        font-family: Shrikhand, roboto, sans-serif;
        color: $primary;
        letter-spacing: .3em;
        margin-bottom: 2em;
        animation: flash 1.2s linear infinite;
    }
    & .letter:nth-child(1) {
        animation-delay: .1s;
    }
    & .letter:nth-child(2) {
        animation-delay: .2s;
    }
    & .letter:nth-child(3) {
        animation-delay: .3s;
    }
    & .letter:nth-child(4) {
        animation-delay: .4s;
    }
    & .letter:nth-child(5) {
        animation-delay: .5s;
    }
    & .letter:nth-child(6) {
        animation-delay: .6s;
    }
    & .letter:nth-child(7) {
        animation-delay: .7s;
    }
    & .letter:nth-child(8) {
        animation-delay: .8s;
    }
}
@media all and (min-width: 1024px) {
    .loader {
        font-size: 60px;
    }
    body {
        margin: auto;
    }
    header img {
        height: 3em;
    }
    .main-photo {
        height: 30em;
    }
    nav h2 {
        margin-left: 2em;
    }
    h2 {
        margin-left: 1.2em;
        font-size: 2em;
    }
    .menu {
        display: inline-block;
        white-space: nowrap;
        margin: 3em auto;
        text-align: center;
        width: 100%;
        font-size: 1.2em;
        & a {
            margin: auto;
            margin-right: 1em;
        }
    }
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        & h2 {
            width: 100%;
        }
        & article {
            margin-bottom: 1em;
            width: 45%;
            & .card .card__heart--solid {
                position: static;
                margin-left: -1em;
            }
            & .card .card__heart--regular {
                position:relative;
                margin-left: auto;
            }
        }
    }
    main {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        margin-top: -7%;
        width: 90%;
        & h1 {
            margin-left: 1em;
            width: 100%;  
        }
        & ul {
            margin: 1em auto;
            width: 30%;
        }
    }
    footer {
        padding-left: 3.5em;
    }
}
@keyframes flash {
    0% {
        color: $third;
        text-shadow: 0 0 10px $secondary;
    }
    90% {
        color: $primary;
        text-shadow: none;
    }
    100% {
        color: $third;
        text-shadow: 0 0 10px $secondary;
    }
}
@keyframes loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }    
}
@keyframes erase {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }    
}
@keyframes ellipse {
    0% {
        width: 100%;
    }
    100% {
        width: 65%;
    }
}
@keyframes glissement {
    from { 
        margin-top: 2.7em;
        opacity: 0;
    }
    60% {
        opacity: 0;
        margin-top: 2em;
    }
    80% {
        opacity: 0.7;
        margin-top: 1em;
    }
    to { 
        margin-top: .8em;
        opacity: 1;
    }
}