/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: Shrikhand, roboto, sans-serif;
  font-size: 2em;
  margin: auto;
  text-align: center;
}

title, h1, h5 {
  font-family: Shrikhand, roboto, sans-serif;
}

.new {
  float: right;
  margin: 1em 1em -3em 0;
  opacity: 0.99;
  color: #008766;
  border: 0.1em #99E2D0 solid;
  padding: 0.2em 0.5em;
  background-color: #99E2D0;
  border-radius: 0.2em;
}

a {
  text-decoration: none;
  color: black;
}

.menu__link {
  color: #646464;
  font-size: 1.2em;
  margin: 0 1em;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
}

.fa-arrow-left {
  font-size: large;
  color: black;
  position: relative;
  top: 2em;
  left: 1em;
}

.main-photo {
  width: 100%;
  height: 20em;
}

nav {
  margin-bottom: 2em;
}

.fa-map-marker-alt {
  color: #353535;
}

nav form {
  padding: 1.1em;
  box-shadow: inset 0 10px 10px -12px #666;
  text-align: center;
  background-color: #EAEAEA;
}

input {
  margin-left: 1em;
  background-color: #EAEAEA;
  border: none;
}
input::placeholder {
  color: #353535;
  font-size: 1.2em;
}

.blurb {
  background-color: #f2f2f2;
  text-align: center;
  padding: 2em 2em;
  padding-bottom: 4em;
}
.blurb h2 {
  margin: 0 1.5em;
}
.blurb p {
  margin-top: 1em;
  margin-bottom: 2.7em;
  font-weight: 300;
  color: #646464;
}
.blurb a {
  border: none solid;
  border-radius: 2em;
  background-color: #9356DC;
  box-shadow: inset 0.5em 0.8em 2.5em #FF79DA, 0.1em 0.1em 0.3em #9b9b9b;
  color: white;
  font-size: 0.9em;
  padding: 1em 1.3em;
  transition: background-color 500ms;
}
.blurb a:hover {
  background-color: #a16be0;
  box-shadow: inset 0.5em 0.8em 2.5em #ff93e1, 0.1em 0.1em 0.9em black;
}

nav h2 {
  margin: 2em 0 1em 0.6em;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: auto;
}
.menu a {
  text-decoration: none;
  color: black;
  border-radius: 1em;
  padding: 1.5em 1em;
  margin: 0.8em 1.5em;
  box-shadow: 0.3em 0.3em 1em lightgrey;
  counter-increment: list;
  background-color: #f2f2f2;
  font-weight: 500;
}
.menu a::before {
  content: counter(list);
  border-radius: 50%;
  padding: 0.2rem 0.4rem;
  font-size: small;
  margin-left: -2.3em;
  background-color: #9356DC;
  color: white;
}
.menu a:hover {
  border: #F5EDFF;
  background-color: #F5EDFF;
}
.menu a:hover .menu__link {
  color: #9356DC;
}

section {
  background-color: #f2f2f2;
  padding: 3em 1em;
}
section h2 {
  margin-bottom: 1em;
}
section article {
  margin-top: 1em;
  padding-bottom: 0.5em;
  width: 100%;
  border: transparent;
  border-radius: 1em;
  background-color: white;
  box-shadow: 0.3em 0.3em 1em lightgrey;
}
section article img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
section article .card {
  margin: 0.5em 1.5em 0.5em 1em;
  display: flex;
  justify-content: space-between;
}
section article .card__heart h3 {
  font-weight: 600;
  font-size: 1.2em;
}
section article .card__heart p {
  font-weight: 300;
}
section article .card .card__heart--regular {
  display: block;
  margin-top: 0.04em;
  font-size: 1.55em;
  z-index: 1;
  transition: opacity 750ms ease-out;
}
section article .card .card__heart--regular:hover {
  opacity: 0;
}
section article .card .card__heart--regular:hover + .card__heart--solid {
  opacity: 1;
  transform: scale(1);
}
section article .card .card__heart--solid {
  opacity: 0;
  position: absolute;
  font-size: 1.55em;
  right: 1.62em;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0.1);
  transition: transform 500ms ease-in-out;
}

main {
  position: relative;
  margin-top: -4em;
  background-color: #f2f2f2;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  padding: 1.3em 0.5em;
  /* animation coeur a realiser */
}
main h1 {
  display: flex;
  justify-content: space-between;
  margin: 0 1em 1em 0.4em;
  font-size: 1.5em;
}
main .card__heart--regular {
  display: block;
  font-size: 0.98em;
  font-weight: 100;
  margin-top: 0.49em;
  z-index: 1;
  transition: opacity 750ms ease-out;
}
main .card__heart--regular:hover, main .card__heart--regular:focus {
  opacity: 0;
}
main .card__heart--regular:hover + .card__heart--solid, main .card__heart--regular:focus + .card__heart--solid {
  opacity: 1;
  transform: scale(1);
}
main .card__heart--solid {
  position: absolute;
  right: 1.2em;
  top: 1em;
  opacity: 0;
  font-size: 1.1em;
  color: transparent;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  transform: scale(0.1);
  transition: transform 500ms ease-in-out;
}
main .parts {
  overflow: visible;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  border-bottom: 0.2em #99e2d0 solid;
  width: 1.7em;
  padding-bottom: 0.4em;
  padding-left: 0;
}
main ul {
  overflow: hidden;
  margin: 1.5em 0 2em 0;
  white-space: nowrap;
}
main li {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  color: #646464;
  font-size: 0.9em;
  line-height: 1.6em;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.3em lightgray;
  background-color: white;
  margin: 0.8em 0.4em;
  padding: 0.6em 0.8em;
  animation-name: glissement;
  animation-duration: 2250ms;
  animation-timing-function: ease-out;
}
main li .plat {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: margin-right;
  transition-duration: 900ms;
}
main li .bold {
  font-weight: 900;
  color: black;
  font-size: 1.2em;
}
main li .bold__price {
  color: black;
  font-weight: 900;
}
main li:nth-child(1) {
  animation-delay: -1.2s;
}
main li:nth-child(2) {
  animation-delay: -0.9s;
}
main li:nth-child(3) {
  animation-delay: -0.6s;
}
main li:nth-child(4) {
  animation-delay: -0.3s;
}
main li:nth-child(5) {
  animation-delay: 0s;
}
main li:hover .box {
  transform: translate(-69px, 0);
}
main li:hover .box .rond {
  transform: rotate(0deg);
}
main li:hover .price {
  transform: translate(-69px, 0);
}
main li:hover .plat {
  margin-right: 7em;
  transition-duration: 500ms;
}
main .price {
  margin-top: 1.7em;
  transition: transform 500ms ease-in-out;
}
main .box {
  float: right;
  padding: 1.1em;
  border-top-right-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
  margin: -2.6em -3.9em -0.5em 0.5em;
  background-color: #99E2D0;
  font-size: 1.5em;
  transition: transform 500ms ease-in-out;
}
main .box .rond {
  transition: transform 600ms ease-in-out;
  transform: rotate(-360deg);
  color: white;
}
main button {
  display: block;
  position: relative;
  z-index: 1;
  color: white;
  margin: 2em auto;
  font-size: 0.9em;
  padding: 1em 3em;
  border: none;
  border-radius: 2em;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0.1em 0.1em 0.3em #9b9b9b;
  transition: background-color 250ms;
}
main button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0.1em 0.1em 0.9em black;
}

.circle {
  float: inherit;
  padding: 1.1em;
  border-top-right-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
  margin: -1.6em -1em 0 0.5em;
  background-color: #99E2D0;
  color: white;
  font-size: 1.5em;
}

footer {
  background-color: #353535;
  color: white;
  padding: 1em 1.6em;
}
footer h5 {
  margin: 0.8em 0;
  font-size: 1.1em;
}
footer li {
  margin: 0.6em 0;
}
footer li a {
  color: white;
}
footer .foot {
  font-size: 0.9em;
  margin-right: 0.5em;
}
footer .hand {
  font-size: 0.7em;
  margin-right: 0.4em;
}

/* loading-page */
.page {
  animation: erase 3s ease-out;
}

.loader {
  z-index: -1;
  opacity: 0;
  display: flex;
  animation: loading 3s ease-out;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-size: 40px;
  background-color: #353535;
  justify-content: center;
  align-items: center;
}
.loader .letter {
  font-family: Shrikhand, roboto, sans-serif;
  color: #9356DC;
  letter-spacing: 0.3em;
  margin-bottom: 2em;
  animation: flash 1.2s linear infinite;
}
.loader .letter:nth-child(1) {
  animation-delay: 0.1s;
}
.loader .letter:nth-child(2) {
  animation-delay: 0.2s;
}
.loader .letter:nth-child(3) {
  animation-delay: 0.3s;
}
.loader .letter:nth-child(4) {
  animation-delay: 0.4s;
}
.loader .letter:nth-child(5) {
  animation-delay: 0.5s;
}
.loader .letter:nth-child(6) {
  animation-delay: 0.6s;
}
.loader .letter:nth-child(7) {
  animation-delay: 0.7s;
}
.loader .letter:nth-child(8) {
  animation-delay: 0.8s;
}

@media all and (min-width: 1024px) {
  .loader {
    font-size: 60px;
  }

  body {
    margin: auto;
  }

  header img {
    height: 3em;
  }

  .main-photo {
    height: 30em;
  }

  nav h2 {
    margin-left: 2em;
  }

  h2 {
    margin-left: 1.2em;
    font-size: 2em;
  }

  .menu {
    display: inline-block;
    white-space: nowrap;
    margin: 3em auto;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
  }
  .menu a {
    margin: auto;
    margin-right: 1em;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  section h2 {
    width: 100%;
  }
  section article {
    margin-bottom: 1em;
    width: 45%;
  }
  section article .card .card__heart--solid {
    position: static;
    margin-left: -1em;
  }
  section article .card .card__heart--regular {
    position: relative;
    margin-left: auto;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: -7%;
    width: 90%;
  }
  main h1 {
    margin-left: 1em;
    width: 100%;
  }
  main ul {
    margin: 1em auto;
    width: 30%;
  }

  footer {
    padding-left: 3.5em;
  }
}
@keyframes flash {
  0% {
    color: #99E2D0;
    text-shadow: 0 0 10px #FF79DA;
  }
  90% {
    color: #9356DC;
    text-shadow: none;
  }
  100% {
    color: #99E2D0;
    text-shadow: 0 0 10px #FF79DA;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes erase {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ellipse {
  0% {
    width: 100%;
  }
  100% {
    width: 65%;
  }
}
@keyframes glissement {
  from {
    margin-top: 2.7em;
    opacity: 0;
  }
  60% {
    opacity: 0;
    margin-top: 2em;
  }
  80% {
    opacity: 0.7;
    margin-top: 1em;
  }
  to {
    margin-top: 0.8em;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
